<!--sidebar start-->
<div class="side-bar">
  <div class="profile_info">
    <img src="assets/logo.svg" style="width: 145px" />
  </div>
  <div class="linea"></div>
  <a (click)="goRedirect('')"
    ><i class="fas fa-clipboard-list" title="Reportes"></i
    ><span>Reportes</span></a
  >
  <a (click)="goRedirect('productos')"
  ><i class="fas fa-clipboard-list" title="Productos"></i
  ><span>Productos</span></a
>
<a (click)="goRedirect('medidas')"
><i class="fas fa-clipboard-list" title="Medidas"></i
><span>Medidas</span></a
>
<a (click)="goRedirect('empresa')"
><i class="fas fa-clipboard-list" title="Empresa"></i
><span>Empresa</span></a
>
  
</div>
<!--sidebar end-->
