<footer class="">
  <div class="container content-footer" #fRef>
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-start align-items-center">
        
        <br />
      </div>
      <div class="col-sm-4 d-flex justify-content-center align-items-center">
        <span class="ucr-footer-label">
          Copyright ©{{ date.getFullYear() }}
        </span>
      </div>
      <div
        class="col-sm-4 d-flex justify-content-end align-items-center"
        style="flex-direction: column"
      >
        
      </div>
    </div>
  </div>
</footer>
